html, body {
    height: 100%;
}
body {
	background-color: #fefefe;
	margin: 0;
	font-family: arial, sans-serif;
    position: relative;
}
.page {
    position: relative;
    z-index: 12;
    padding: 2em;
}
#viewport {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fcfcfc;
    z-index: 10;
    cursor: default;
}
a {
    color: #333;
}
