html, body {
    height: 100%;
}
body {
	background: #fff;
    color: #333;
	margin: 0;
	font-family: helvetica, arial, sans-serif;
    position: relative;
}
.page {
    background: #4F095D;
    color: #fff;
    border-bottom: 2px solid #000;
    position: relative;
    z-index: 12;
    padding: 1em 1em 1em;
}
.page h1 {
    margin-top: 0;
    font-weight: normal;
}
label:not(:first-of-type) {
    margin-left: 2em;
}
#viewport {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fafafa;
    z-index: 10;
    cursor: default;
}
a {
    color: #333;
}
